:root {
    --accent: hsl(347, 56%, 50%);
    --secondary: #778;
    --spacing: clamp(10px, 2.5vw, 22px);
}

html,
body {
    height: 100%;
    margin: 0;
}

body,
button,
select {
    font-family: 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;
}

body {
    background: url('bg.webp');
    background-color: #261730;
    background-position: center center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing);
    box-sizing: border-box;
}

/* HEADER  */

header {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: var(--spacing);
}

header h1 {
    flex: 1;
    color: white;
    font-size: clamp(16px, 2.5vw, 32px);
    font-weight: 600;
    margin: 0.2em 0;
}

header h1 .light {
    font-weight: 200;
}

header h1 .accent {
    font-weight: 400;
    color: var(--accent);
    opacity: .9;
}

header button {
    padding: 0.7em 2em;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0.25em hsl(347, 58%, 30%);
    background-color: var(--accent);
    color: white;
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 600;
    cursor: pointer;
    opacity: .9;
    transition: opacity .3s;
}

header button:hover {
    opacity: 1;
}

header button:active {
    box-shadow: none;
    transform: translateY(0.25em);
}

header select {
    padding: 0.6em 1em;
    margin: 0;
    border: none;
    border-radius: 6px;
    font-size: clamp(12px, 1.2vw, 14px);
    font-weight: 500;
}

/* INPUT / OUTPUT */

#source,
#output-wrapper {
    padding: var(--spacing);
    margin: 0;
    border: none;
    background: white;
    color: #111;
    resize: none;
    box-sizing: border-box;
    font-size: clamp(12px, 1vw, 14px);
}

#source {
    flex: 3.5;
    border-radius: 8px 8px 0px 0px;
    opacity: .92;
}

#source:focus {
    outline: none;
}

#output-wrapper {
    flex: 1;
    opacity: .8;
    border-radius: 0px 0px 8px 8px;
    border-top: 1px solid #eef;
    overflow: auto;
}

#output-wrapper pre {
    margin: 0;
}

#output {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.4;
}

/* SCROLLBARS */

/* Firefox */
#source,
#output-wrapper {
    scrollbar-color: var(--secondary) transparent;
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
#source::-webkit-scrollbar,
#output-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#source::-webkit-scrollbar-thumb,
#output-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 3px;
}

/* DARK MODE  */

@media (prefers-color-scheme: dark) {
    #source {
        color: white;
        background: #1b1220;
    }

    #output-wrapper {
        color: white;
        background: #0c060f;
        border-top: 1px solid #223;
        opacity: 0.94;
    }
}